.contact--section {
  background: url(/img/background.jpg) no-repeat center;
  background-size: cover;
  padding: 40px 0;

  .contact--section--h1 {
    text-align: center;
    color: #fff;
  }
  .border {
    width: 100px;
    height: 10px;
    background: black;
    margin: 40px auto;
  }
  .error {
    text-align: center;
    color: red;
    font-size: 20px;
  }
}

.contact--form {
  max-width: 600px;
  margin: auto;
  padding: 0 10;
  overflow: hidden;

  .contact--form--txt {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 16px;
    border: 0px;
    background: #fff;
    padding: 20px 40px;
    outline: none;
    color: black;
    transition: 0.5s;
  }

  .contact--form--txt:focus {
    box-shadow: 0 0 10px 4px #fff;
  }

  textarea.contact--form--txt {
    resize: none;
    height: 120px;
  }

  .contact--form--btn {
    float: right;
    border: 0;
    background: #34495e;
    color: #fff;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
  }
  .contact--form--btn:hover {
    background: #2980b9;
  }
}
