$background: #fefefe;
$text: #4b507a;

$cyan: #60daaa;
$yellow: #fbca67;
$orange: #ff8a30;
$red: #f45e61;
$purple: #6477b9;
$blue: #0eb7da;

.container {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  margin: auto;

  .card-projects {
    position: relative;
    max-width: 300px;
    height: 300px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;

    .imgBx-projects {
      position: absolute;
      width: 260px;
      top: -60px;
      left: 35px;
      padding-top: 30px;

      img {
        max-width: 100%;
        border-radius: 4px;
      }
    }
    .content-projects {
      position: relative;
      padding: 70px 15px;
      text-align: center;
      color: #111;
    }

    .Github-btn {
      position: absolute;
      //   top: 300px;
      left: 65px;

      a {
        text-decoration: none;
        color: black;
        font-size: 20px;
      }
    }

    .Live-btn {
      position: absolute;
      //   top: 300px;
      left: 150px;

      a {
        text-decoration: none;
        color: black;
        font-size: 20px;
      }
    }
  }

  @media only screen and (max-width: 320px) {
    .card-projects {
      padding: 0;

      .imgBx-projects {
        width: 200px;
        left: 22px;
      }

      .Github-btn {
        top: 290px;
        left: 55px;
      }

      .Live-btn {
        top: 290px;
        left: 140px;
      }
    }

    h2 {
      margin: 10px 0 5px 0;
    }

    p {
      margin: 0px;
    }
  }
}
