#showcase {
  min-height: 400px;
  background: url(../img/showcase1.jpg) no-repeat;
  background-size: cover;
  background-position: 50%;
  text-align: center;
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

  #showcase h1 {
    margin-top: 55%;
  }
}

#break {
  padding: 25px;
  background: #403f4c;
  margin-bottom: 15px;
}
